{% extends 'base.html' %}

{% load static %}


{% block page_styles %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/start_game.css' %}" />
<style>

</style>
{% endblock %}


{% block content %}

<div class="svg-wrapper svg-top-right-container">
	{% load svg_tag %}

	{% inline_svg 'images/full_background_logo.svg' as mysvg %}
	    {{ mysvg|safe }}
</div>

<div class="start-game-form">
	<img src="{% static 'images/text_logo.svg' %}" alt="" class="start-game-logo">
	<div class="row start-game-code-row">
		<h1 class="start-game-code" id="startGameCode">#GR39FB</h1>
		<button class="btn btn-outline-secondary copy-code-button" id="copyCodeButton">
			<img class="big-icon" src="{% static 'icons/copy.svg' %}" alt="">
		</button>
	</div>
	<h3 class="start-game-description">Збережіть код, щоб не втратити прогрес</h3>
	<h3 class="start-game-description">або введіть код, щоб відтворити попередню гру.</h3>
	<input type="text" minlength="6" maxlength="7" placeholder="Введіть свій код..." class="form-control code-input">
	<button class="btn btn-outline-secondary start-game-button">Почати гру!</button>
</div>
{% endblock %}



{% block page_scripts %}
<script src="{% static 'js/start_game.js' %}" type="text/javascript"></script>
{% endblock %}