html, body {
	height: 100%;
	margin: 0;
	background: #1e1e2f;
}

#drawflow {
	width: 100%;
	height: 100%;
	background: #1e1e2f;
	border: 1px solid #888;
}

#content {
	width: 95vw;
	flex-direction: row;
}

.game-container {
	width: 100vw;
}

.drawflow_content_node {
	display: flex;
	justify-content: center;
	align-items: center;

}

.control-panel {
	display: flex;
	flex-direction: column;
}

.control-panel button {
	all: unset;
	min-width: 50px;
	min-height: 50px;
	background: #1e1e2f;
	border: 1px solid #888;
	margin: 5px;
	cursor: pointer;
	text-align: center;
}

.message-timestamp {
	margin-right: -87px;
}

.message-delete-btn {
	margin-right: -117px;
	margin-top: -19px;
	cursor: pointer;
}

.message {
	max-width: 255px;
}

.message-text {
	text-wrap: wrap;
	word-break: break-word;
	overflow-wrap: break-word;
}

.messages-block {
	max-width: initial;
}

.chat-container {
	width: auto;
}


.editor-container {
	width: 106vw;
	height: 100vh;
	background-color: #34353a;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#content {
	width: 100vw;
	margin-top: 16px;
	margin-left: 19px;
}

.drawflow .drawflow-node .drawflow_content_node {
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.root-node-label {
	color: #97ee8b;
	font-size: 0.9em;
	font-family: "Roboto", "Roboto-Black", Tahoma;
}

.inspector-panel {
	background-color: #34353a;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	min-width: 20vw;
}

.stretch {
	width: 100%;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}