html, body {
	height: 100%;
	margin: 0;
	background: #1e1e2f;
}

#drawflow {
	width: 100%;
	height: 100%;
	background: #1e1e2f;
	border: 1px solid #888;
}


.game-container {
	width: 100vw;
}

.drawflow_content_node {
	display: flex;
	justify-content: center;
	align-items: center;

}

.control-panel {
	display: flex;
	flex-direction: column;
}

.control-panel button {
	all: unset;
	min-width: 50px;
	min-height: 50px;
	background: #1e1e2f;
	border: 1px solid #888;
	margin: 5px;
	cursor: pointer;
	text-align: center;
}

.message-timestamp {
	margin-right: -87px;
}

.message-delete-btn {
	margin-right: -117px;
	margin-top: -19px;
	cursor: pointer;
}

.message {
	max-width: 255px;
}

.message-text {
	text-wrap: wrap;
	word-break: break-word;
	overflow-wrap: break-word;
}

.messages-block {
	max-width: initial;
}

.chat-container {
	width: auto;
}


.editor-container {
	border: 1px solid green;
}

#content {
	flex-direction: row;
	/* border: 3px solid red; */
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.drawflow .drawflow-node .drawflow_content_node {
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.root-node-label {
	color: #97ee8b;
	font-size: 0.9em;
	font-family: "Roboto", "Roboto-Black", Tahoma;
}

.inspector-panel {
	background-color: #202331;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	min-width: 20vw;
}

.stretch-elements-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.stretch-elements-container button {
	flex-grow: 1;
}

.split-view {
	display: flex;
	flex-direction: row;
	width: inherit;
	height: inherit;
}

.gutter {
	background-color: #606a7d;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
	cursor: col-resize;
}

.hr-header {
	background-color: #606a7d;
	color: white;
}

.drawflow .drawflow-node.entry-node {
	background: unset;
	border: 3px solid orange;
	background-color: #6e6e43;
}

.drawflow .drawflow-node.chat-event-node {
	background: unset;
	border: 3px solid rgb(54, 190, 88);
	background-color: #438033;
}

.dark-control {
	color: white;
	background-color: #111026;
	border: 1px solid #7676b7;
}

.dark-control:focus {
	color: white;
	background-color: #111026;
	border: 1px solid #7676b7;
}

.node-prop {
	margin: 0px;
	width: 100%;
	font-size: 15px;
}