	#content {
		display: flex;
		flex-direction: column;
		justify-content: start;
		width: 100%;
		align-items: baseline;
        background-color: #00000024;
	}

	.start-game-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 69%;
		margin-left: 10%;
		width: 55vw;
		align-items: center;
	}

	.start-game-logo {
		width: inherit;
	}

	.text-logo {
		vertical-align: top;
		width: 100%;
	}

	#content h1,
	h3 {
		color: black;
		font-family: "Roboto-Bold", "Roboto", "Roboto-Black", Tahoma;
		text-align: center;
	}

	.start-game-code {
		font-size: 4vw;
		width: fit-content;
	}

	.start-game-code-row {
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
	}

	.copy-code-button {
		width: 3vw;
		height: 3vw;
		align-content: center;
		display: contents;
	}

	.big-icon {
		width: 2.5vw;
	}

	.form-control.code-input {
		background-color: transparent;
		border: 1.3px solid black;
		text-align: center;
		max-width: 20vw;
		font-family: "Roboto-Bold", "Roboto", "Roboto-Black", Tahoma;
		font-size: 1.5vw;
		margin-top: 30px;
		margin-bottom: 30px;
	}

    .form-control.code-input::placeholder {
        font-family: "Roboto", "Roboto-Black", Tahoma;
    }

	.start-game-button {
		font-size: 1.5vw;
		font-family: "Roboto-Bold", "Roboto", "Roboto-Black", Tahoma;
		border: none;
		color: black;
	}

    .start-game-button:hover {
        background-color: black;
        cursor: pointer;
    }